# Mac OS X
*.pbxuser
*.mode1v3
*.mode2v3
.DS_Store
*.app
*.build

# Windows
*.ini
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.exe
example/obj/
example/bin/*.exp
example/bin/*.lib
example/bin/*.pdb
example/bin/*.ilk
example/bin/*.dll

